extends ../layout

block content
  div.container
    div.d-flex
      h1.display-4 #{cart.customer.name}
      a.btn.btn-default.ml-auto.align-self-center(href='/carts') Back
    -var orders = cart.orders
    -var total_price = total.price
    -var total_amount_due = total.amount_due
    table.table
      tr
        th Name
        th.text-right Quantity
        th.text-right Price
        th.text-right Amount Due

      each item in orders
        tr
          td #{item.product.name}
          td.text-right 
            a(href="/orders/#{item.id}/void") #{item.quantity}
          td.text-right #{ parseFloat(item.price).toFixed(2)}
          td.text-right #{(parseFloat(item.price) * item.quantity).toFixed(2)}
      
      tr
        th
        th
        th.text-right Total
        th.text-right #{parseFloat(total_amount_due).toFixed(2)}


    form(action="/transactions" method="post")
      input(type="hidden", name="cart_id" value="#{cart.id}")
      input(type="text", name="total_price" placeholder="Amount" value="#{total.amount_due}")
      input(type="text", name="discount" placeholder="Discount" value="0")
      input(type="text", name="amount_paid" placeholder="Amount Due")
      button.btn.btn-primary Checkout

