extends ../layout

block content
  div.container
    div.d-flex
      h1.display-4 #{cart.customer.name}
      a.btn.btn-default.ml-auto.align-self-center(href='/admin/carts') Back
    
    table.table
      tr
        th Name
        th Quantity
        th Price

      each item in cart.orders
        tr
          td #{item.product.name}
          td #{item.quantity}
          td #{item.amount}
      tr 
        th #{total_due}
    form(action="/admin/carts" method="post")

    button.btn.btn-primary Checkout

